{% extends "index.html" %}
{% block content %}
<form class="form-horizontal main-settings" method="post">
    {{ settings_form.hidden_tag() }}
    {% for field in settings_form %}
    {% if field.id != "csrf_token" %}
    <div class="form-group">
        {% if field.type == "SelectMultipleField" %}
        <label for="{{ field.name }}" class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-9">
        {{ field(size=12, class='form-control') }}
        </div>
        {% elif field.type == "BooleanField" %}
        <label for="{{ field.name }}" class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-9">
            <div class="checkbox">
                {{ field(class='form-control') }}
            </div>
        </div>
        {% else %}
        <label for="{{ field.name }}" class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-9">
        {{ field(class='form-control') }}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">Save Settings</button>
        </div>
    </div>
</form>
{% endblock %}